<form method="POST" align="center">
    {% csrf_token %}
    <input type="text" name="name" id="name" placeholder="Enter the name of your item"><br>
    <input type="text" name="desc" id="desc" placeholder="Enter the desc of your item"><br>
    <input type="text" name="price" id="price" placeholder="Enter the price of your item"><br>
    <input type="text" name="name" id="name" placeholder="Enter the name of your item"><br>
    <input type="file" name="book_image" id="book_image" placeholder="Enter the name of your item"><br>
    <input type="submit" name="submit" id="submit">
</form>