{% extends 'myapp/base.html' %}
{% block body %}

<div class="container">
   <h3>Typeb</h3>
</div>

<hr>
<div class="container">
    <div class="row">
        {% for typeb in typeb_list %}
            <div class="col-md-3">
                <div class="card">
                    <img src="{{typeb.item_image.url}}" class="card-img-top" alt="">
                      <div class="card-body">
                          <h5 class="card-title">{{typeb.name}}</h5>
                          <p class="card-text">${{typeb.price}}</p>
                          
                      </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}                          